{% extends "base.html" %}

{% block title %}Circuit • {{ circuit.name }}{% endblock %}

{% block content %}
  <div class="section">
    <div class="card">
      <div class="card-content">
        <div class="right">
          <a href="/circuits/{{ circuit.id }}/edit" class="btn-flat waves-effect" title="Edit">
            <i class="material-icons">settings</i>
          </a>
        </div>
        <span class="card-title">{{ circuit.name }}</span>
        <p class="grey-text text-darken-2">{{ circuit.description }}</p>
        <p class="grey-text">Created {{ circuit.created_at.strftime('%Y-%m-%d %H:%M') }} UTC</p>
      </div>
      <div class="card-action">
        <a href="/circuits/{{ circuit.id }}/run" class="btn blue darken-2 waves-effect waves-light">
          <i class="material-icons left">play_arrow</i>
          Run Circuit
        </a>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Steps</span>
        <table class="striped responsive-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>Duration (s)</th>
            </tr>
          </thead>
          <tbody>
            {% for step in circuit.tasks %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ step.name }}</td>
                <td>{{ step.description }}</td>
                <td>{{ step.duration }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
