{% extends "base.html" %}

{% block title %}Circuit • {{ circuit.name }}{% endblock %}

{% block content %}
  <div id="app"></div>
  <script id="page-props" type="application/json">
    {{ {"circuit": circuit} | tojson }}
  </script>
{% endblock %}

{% block scripts %}
  <script type="module">
    import { bootstrapPrimeVueApp } from "/static/js/app.js";
    import CircuitDetailPage from "/static/js/pages/detail.js";

    const propsElement = document.getElementById("page-props");
    const props = propsElement ? JSON.parse(propsElement.textContent) : {};
    bootstrapPrimeVueApp("#app", CircuitDetailPage, props);
  </script>
{% endblock %}
